<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Oregon Trail!</h1>
    <form action="/numberOfTravelers" method="post">
      <label>How many travelers:</label>
      <input type="number" name="quantity" min="1" max="5" /><br />
      <input type="submit" name="submit" value="submit" />
    </form>
  </body>
</html>

<!-- name prop is crucial here so that input can be referenced in app.js -->
<!-- it should follow the model-view-controller path. so the next stop is the controller -->
